@import "../Variables";

.row {
  display: flex;
  &.col {
    flex-direction: column;
  }

  & > .tile {
    flex: 1;
  }

  &.row-content {
    height: 200px;

    &:nth-child(even){
      background-color: rgba(128, 128, 128, 0.1);
    }

  }
}
