@import "Variables";

.tile {
  margin-right: 2em;

  .title {
    display: flex;
    margin-bottom: 5px;

    h2 {
      display: flex;
      a {
        margin-right: 10px;
      }

      span {
        margin-right: 0.25em;
        svg {
          height: 30px;
          width: 30px;
        }
      }
    }

    img {
      height: $tile-icon-size;
    }
  }

  .content {
    margin: 0;
    p {
      margin: 0;
    }
  }
}