@import "Variables";

.tile {
  margin-right: 2em;

  .title {
    margin-bottom: 10px;

    h2 {
      display: flex;
      a {
        margin-right: 10px;
      }
    }

    img {
      height: $tile-icon-size;
    }
  }

  .content {
    margin: 0;
    p {
    }
  }
}