@import "../Variables";

.contact {
    padding: 1em 0 50px;

    .tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact-form {
            background-color: rgba(#FFF, 1);
            padding: 1em;
            border-radius: $border-radius;
        }

        h2 {
            margin-bottom: 0.5em;
        }

        .inquiry-meta {
            display: flex;
            input, select {
                flex: 1;
            }
        }

        input, select, textarea {
            border: 2px solid $dark;
            padding: 0.5em;
            margin: 1em;
            border-radius: $border-radius;
            outline: none;

            color: $dark;
            &::placeholder {
                color: $dark;
            }

            &:focus {
                border: 2px solid $primary;
            }
        }

        textarea {
            height: 200px;
            width: calc(500px);
        }

        button {
            display: block;
            margin: 1em auto;
            height: 40px;
            width: 150px;
            font-size: 18px;
            border: 2px solid $dark;
            color: $dark;


            &:hover {
                background-color: $dark;
                color: #FFF;
            }
        }
    }

    table {
        padding: 1em;
        margin: 0 0 1em;
        width: 400px;
        tr {
            &:nth-child(odd){
                background-color: #FFF;
                color: $dark;
            }
        }
    }
}