@import "../Variables";

.contact {
  padding: 1em 0 50px;

  .tile {
    margin: 0 2.5em;

    &:first-child {
      form {
        .contact-form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: minmax(min-content, max-content);
          grid-column-gap: 25px;

          input, select, textarea {
            border: 0;
            width: 100%;
            margin: 0.5em 0;
            border-radius: $border-radius;
            padding: 0.5em 0 0.5em 0.5em;
            font-size: 1em;
          }

          textarea {
            grid-column: 1 / 3;
            width: 100%;
            min-height: 150px;
            max-width: 100%;
          }

          button {
            grid-column: 1 / 3;
            background-color: $light;
            color: $dark;
            padding: 0.85em;
            width: 60%;
            margin: 1em auto;
            border: none;
            font-size: 1em;

            &:hover {
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}