@import "../Variables";

.instructor-list {
    .instructor {
        .title {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .title-body {
                margin-left: 20px;
            }
        }

        img {
            border-radius: 50%;
            height: 120px;
        }
    }
}