@import "Variables";

section.information-tile {
    height: 200px;
    width: 20%;
    margin: 50px auto;
    border: 2px solid black;
    padding: 1em;
    .title {
        h1 {

        }
    }

    .content {
        p {

        }
    }

    &:nth-child(even) {
        text-align: right;
    }
}