//Colors
$navbar-background: #FFF;
$primary: #db4034;

$transition-time: 0.3s;

$tile-icon-size: 30px;

//Mixins
@mixin wrap($padding-top: 0, $padding-bottom: 0) {
    width: 60%;
    padding: $padding-top 20% $padding-bottom;
}