@import "_Variables";

.footer {
  background-color: $primary;

  .social-line {
    height: 40px;
    width: 100%;
    border-top: 2px solid black;
    background-color: rgba(black, 0.8);

    .social-icons {
      @include wrap();
      display: flex;
      height: 100%;
      align-items: center;

      a {
        margin-right: 2em;
        svg {
          transition: fill $transition-time ease;

          height: 30px;
          width: auto;
          path {
            fill: white !important;
          }
        }
      }
    }
  }

  p {
    margin: 0;

    &.strong {
      font-weight: bold;
    }
  }

  footer {
    @include wrap();
    padding: 2em 0 10px;
  }
}
