@import "_Variables";

.footer {
  background-color: $primary;

  img {
    margin-bottom: 10px;
  }

  p {
    margin: 0;

    &.strong {
      font-weight: bold;
    }
  }

  footer {
    @include wrap();
    padding: 1em 0;
  }
}
