@import "_Variables";

.footer {
  background-color: $primary;

  .social-line {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid rgba(#FFF, 0.1);
    background-color: $primary;

    .social-icons {
      @include wrap();
      display: flex;
      height: 100%;
      align-items: center;

      a {
        margin-right: 2em;
        svg {
          transition: fill $transition-time ease;

          height: 30px;
          width: auto;
          path {
            fill: black !important;
          }
        }
      }
    }
  }

  p {
    margin: 0;

    &.strong {
      font-weight: bold;
    }
  }

  footer {
    @include wrap(1em, 1em);

    .row {
      .tile {
        margin: 0 2em 0 0;
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}
