@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import "Variables";

html {
    font-family: 'Roboto', sans-serif;

    body {
        position: relative;
        margin: 0;

        h1, h2, h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.fight-club {
    @import "Navigation";
    @import "Footer";

    @import "Util/Tile";
    @import "Util/Row";

    .content {
        .home {
            display: block;
            .home-banner {
                height: 100vh;                
                background-image: url("../Vectors/grips.jpeg");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }

        .row, .wrap {
            @include wrap(1em, 1em);
        }

        .contact {
            p {
                margin: 0;
            }
        }
    }
}