@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import "Variables";

* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-family: 'Roboto', sans-serif;

    body {
        position: relative;
        margin: 0;

        h1, h2, h3 {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.fight-club {
    @import "Navigation";
    @import "Footer";

    @import "Util/Tile";
    @import "Util/Row";
    @import "Util/Button";

    @import "Pages/Instructors";
    @import "Pages/About";
    @import "Pages/Contact";

    .main {
        background-color: $dark;
        color: #FFF;

        .not-found {
            @include wrap(4em, 4em);
            background-color: $dark;
            color: #FFF;
        }

        .home {
            width: 100%;
            .home-banner {
                width: 100%;

                video {
                    display: block;
                    opacity: 0.6;
                    width: 100%;
                    height: 800px;
                    object-fit: cover;
                }
            }

            .row {
                &:nth-child(odd){
                    svg {
                        path {
                            fill: #FFF !important;
                        }
                    }
                }

                &:nth-child(even){
                    background-color: rgba(#FFF, 1);
                    color: $dark;
                }

                .register {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    text-align: center;

                    button {
                        border: 2px solid #FFF;

                        &:hover {
                            background-color: #FFF;
                            color: $dark;
                        }
                    }

                }

                .tile {
                    display: flex;
                    flex-direction: column;
                }

                button {
                    margin: 1em 0;
                }
            }
        }

        .row {
            @include wrap(0.5em, 0.5em);
            &:last-child {
                @include wrap(0.5em, 0.5em);
            }
        }

        .contact {
            p {
                margin: 0;
            }
        }
    }
}