@import "Variables";

.tile {
  margin: 0 1em;
  .title {
    h1 {
      display: flex;
      a {
        margin-right: 10px;
      }
    }

    img {
      height: $tile-icon-size;
    }
  }

  .content {
    margin: 0;
    p {
    }
  }
}
